---
Language: Cpp
BasedOnStyle: Microsoft
NamespaceIndentation: All
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BreakAfterAttributes: Always
PackConstructorInitializers: Never
---
Language: CSharp
BasedOnStyle: Microsoft
---
Language: Json
BasedOnStyle: Google
